<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Alguna novedad?</title>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="..\css\styles.css" />
    <script src="..\js\jquery-3.3.1.js"></script>
    <script src="..\js\app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <!--<div id="header2"></div> -->

    <form action="../index.html"><button class="buttonlogo"></button></form>

    <div class="barraNavegacion">
      <a href="../index.html"><button class="buttonNav">Inicio</button></a>
      <a href="news.html"><button class="buttonNav">Noticias</button></a>
      <a href="patches.html"><button class="buttonNav">Parches</button></a>
      <a href="play.html"><button class="buttonNav">Juega</button></a>
      <a href="rules.html"><button class="buttonNav">Reglas</button></a>
      <a href="contact.html"><button class="buttonNav">Contacto</button></a>
      <a href="about.html"><button class="buttonNav">About us</button></a>
      <a href="login.html">
        <button class="button2" class="right">Iniciar Sesión</button></a
      >
      <button class="button2" onclick="app:Cerrar_sesion()">Cerrar Sesión</button>
    </div>

    <div class="container">
      <h1><img src="../images/titles/News.png" alt="News" /></h1>
    </div>

    <div class="row">
      <div class="column" class="grid-item">
        <h2 class="title1">Alfa is coming</h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non
        ultrices quam, id pretium orci. Quisque a leo vitae orci consectetur
        interdum. Ut eget risus purus. Fusce sit amet purus eleifend, pulvinar
        elit in, accumsan nulla. Ut semper velit urna, vel placerat nisl tempus
        quis. Aenean dictum nulla ipsum, vitae sollicitudin quam commodo vitae.
        Donec eu dictum ipsum. Sed metus diam, rutrum id felis in, laoreet
        dictum felis. Proin id diam non ex euismod pulvinar ac vitae neque. Sed
        tincidunt ultrices massa eget tempor. Proin sit amet placerat dui.
        Quisque eleifend nisl eleifend turpis aliquet, quis semper nibh
        imperdiet. Sed id purus at diam consequat congue nec non nisl.
        <div>
          <a> <button class="button2 right">Comentarios</button></a>
        </div>

      </div>
      <div class="column">
        <h2 class="title1">Temporada 1 comenzara el 2021</h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet
        arcu nec nunc mattis pellentesque. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Sed pulvinar
        suscipit venenatis. Aenean auctor dictum orci eget luctus. Donec lectus
        lectus, pretium at nunc suscipit, ultricies molestie magna. Nam
        tincidunt, arcu non luctus blandit, tortor enim rhoncus turpis, ut
        iaculis ante tortor vitae diam. Mauris dapibus tempor scelerisque. Duis
        vehicula et lorem in laoreet. In elit sem, eleifend at urna in,
        vulputate pellentesque mauris. Nunc porttitor, orci ut elementum
        lacinia, nisi diam elementum ex, eu tempor nunc sapien vitae massa.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
        cubilia curae.
        <div>
          <a> <button class="button2 right">Comentarios</button></a>
        </div>
      </div>
      <div class="column">
        <h2 class="title1">More news soon</h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet
        arcu nec nunc mattis pellentesque. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Sed pulvinar
        suscipit venenatis. Aenean auctor dictum orci eget luctus. Donec lectus
        lectus, pretium at nunc suscipit, ultricies molestie magna. Nam
        tincidunt, arcu non luctus blandit, tortor enim rhoncus turpis, ut
        iaculis ante tortor vitae diam. Mauris dapibus tempor scelerisque. Duis
        vehicula et lorem in laoreet. In elit sem, eleifend at urna in,
        vulputate pellentesque mauris. Nunc porttitor, orci ut elementum
        lacinia, nisi diam elementum ex, eu tempor nunc sapien vitae massa.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
        cubilia curae.
        <div>
          <a> <button class="button2 right">Comentarios</button></a>
        </div>
        <div class="column">
          <h2 class="title1">Welcome testers</h2>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet
          arcu nec nunc mattis pellentesque. Pellentesque habitant morbi tristique
          senectus et netus et malesuada fames ac turpis egestas. Sed pulvinar
          suscipit venenatis. Aenean auctor dictum orci eget luctus. Donec lectus
          lectus, pretium at nunc suscipit, ultricies molestie magna. Nam
          tincidunt, arcu non luctus blandit, tortor enim rhoncus turpis, ut
          iaculis ante tortor vitae diam. Mauris dapibus tempor scelerisque. Duis
          vehicula et lorem in laoreet. In elit sem, eleifend at urna in,
          vulputate pellentesque mauris. Nunc porttitor, orci ut elementum
          lacinia, nisi diam elementum ex, eu tempor nunc sapien vitae massa.
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
          cubilia curae.
          <div>
            <a> <button class="button2 right">Comentarios</button></a>
          </div>
      </div>
    </div>
  </body>
</html>
