<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Patches</title>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="..\css\styles.css" />
    <script src="..\js\jquery-3.3.1.js"></script>
    <script src="..\js\app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <!-- <div id="header2"></div> -->

    <form action="../index.html"><button class="buttonlogo"></button></form>

    <div class="barraNavegacion">
      <a href="../index.html"><button class="buttonNav">Inicio</button></a>
      <a href="news.html"><button class="buttonNav">Noticias</button></a>
      <a href="patches.html"><button class="buttonNav">Parches</button></a>
      <a href="play.html"><button class="buttonNav">Juega</button></a>
      <a href="rules.html"><button class="buttonNav">Reglas</button></a>
      <a href="contact.html"><button class="buttonNav">Contacto</button></a>
      <a href="about.html"><button class="buttonNav">About us</button></a>
      <a href="login.html">
        <button class="button2" class="right">Iniciar Sesión</button></a
      >
      <button class="button2" onclick="app:Cerrar_sesion()">Cerrar Sesión</button>
    </div>

    <!-- <div class="container"><h1></h1></div> -->

    <div class="patches">
      <!-- <div class='reglas'> -->
      <!-- <div > -->
        <div>
          <h1><img src="../images/titles/parches.png" alt="parches"></h1>
          <br />
          <h3 class="title1">Patch 1.0.3</h3>
          Se mejoró el ataque de los guerreros de nivel 2 y 3. Ademas de esto
          ahora existen los magos! Inhabilita por una ronda a un enemigo! Lorem
          ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          ea commodo consequat. Duis aute irure dolor in reprehenderit in
          voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum.<br />
        </div>
        <div>
          <h3 class="title1">Patch 1.0.2</h3>
          Se arregló el problema que ocurría cuando dos equipos entraban en una
          batalla y empataban. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum.<br />
        </div>

        <h3 class="title1">Patch 1.0.1</h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non
        ultrices quam, id pretium orci. Quisque a leo vitae orci consectetur
        interdum. Ut eget risus purus. Fusce sit amet purus eleifend, pulvinar
        elit in, accumsan nulla. Ut semper velit urna, vel placerat nisl tempus
        quis. Aenean dictum nulla ipsum, vitae sollicitudin quam commodo vitae.
        Donec eu dictum ipsum. Sed metus diam, rutrum id felis in, laoreet
        dictum felis. Proin id diam non ex euismod pulvinar ac vitae neque. Sed
        tincidunt ultrices massa eget tempor. Proin sit amet placerat dui.
        Quisque eleifend nisl eleifend turpis aliquet, quis semper nibh
        imperdiet. Sed id purus at diam consequat congue nec non nisl.<br />
        </div>

        <!-- </div> -->
      <!-- </div> -->
    </div>
  </body>
</html>
