<form action="../index.html"><button class="buttonlogo"></button></form>

<div class="barraNavegacion">
  <a href="../index.html"><button class="buttonNav">Inicio</button></a>
  <a href="news.html"><button class="buttonNav">Noticias</button></a>
  <a href="patches.html"><button class="buttonNav">Parches</button></a>
  <a href="play.html"><button class="buttonNav">Juega</button></a>
  <a href="rules.html"><button class="buttonNav">Reglas</button></a>
  <a href="contact.html"><button class="buttonNav">Contacto</button></a>
  <a href="about.html"><button class="buttonNav">About us</button></a>
  <a href="login.html">
    <button class="button2" class="right">Iniciar Sesión</button></a
  >
</div>
