<!DOCTYPE html>
<html lang="en">
  <head>
    <title>A Jugar!</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="..\css\styles.css" />
    <link rel="stylesheet" href="..\css\play.css" />
    <link rel="stylesheet" href="..\css\tiles.css" />
    <link rel="stylesheet" href="..\css\dropdown.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap"
      rel="stylesheet"
    />
    <script src="..\js\jquery-3.3.1.js"></script>
    <script src="..\js\dropdown.js"></script>
    <script src="../js/Actions.js"></script>
    <script src="..\js\app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <!-- <div id="header2"></div> -->

    <form action="../index.html"><button class="buttonlogo"></button></form>

    <div class="barraNavegacion">
      <a href="../index.html"><button class="buttonNav">Inicio</button></a>
      <a href="news.html"><button class="buttonNav">Noticias</button></a>
      <a href="patches.html"><button class="buttonNav">Parches</button></a>
      <a href="play.html"><button class="buttonNav">Juega</button></a>
      <a href="rules.html"><button class="buttonNav">Reglas</button></a>
      <a href="contact.html"><button class="buttonNav">Contacto</button></a>
      <a href="about.html"><button class="buttonNav">About us</button></a>
      <a href="login.html">
        <button class="button2" class="right">Iniciar Sesión</button></a
      >
      <button class="button2" onclick="app:Cerrar_sesion()">Cerrar Sesión</button>
    </div>

    <div class="play">
      <div class="">
        <img src="../images/titles/play.png" alt="play" class="title" />

        <h1 class="title1">Acciones disponibles</h1>
        <div class="actions">
          <button class="button3" id="atacar" onclick="actionOnClick(this.id);">
            Atacar
          </button>
          <button
            class="button3"
            id="defender"
            onclick="actionOnClick(this.id);"
          >
            Defender
          </button>
          <button class="button3" id="sanar" onclick="actionOnClick(this.id);">
            Sanar
          </button>
        </div>
        <button class="button4" onclick="saveActions();">Guardar</button>
        <button class="button4" onclick="undoAction();">Undo</button>
      </div>
      <h1 class="title1">Tablero</h1>
      <div class="container">
        <div class="map-container">
          <div class="map-item base">
            <img class="icono" src="../images/pick-up-byMJ/4-others/5.png" />
          </div>
          <div class="map-item exp">
            <img class="icono" src="../images/pick-up-byMJ/4-others/1.png" />
          </div>
          <div class="map-item amenaza">
            <img class="icono" src="../images/pick-up-byMJ/3-powers/2.png" />
          </div>
          <div class="map-item llave">
            <img class="icono" src="../images/pick-up-byMJ/4-others/6.png" />
          </div>
          <div class="map-item defensa">
            <img class="icono" src="../images/pick-up-byMJ/3-powers/6.png" />
          </div>
          <div class="map-item ataque">
            <img class="icono" src="../images/pick-up-byMJ/3-powers/3.png" />
          </div>
          <div class="map-item curacion">
            <img class="icono" src="../images/pick-up-byMJ/3-powers/4.png" />
          </div>
        </div>
        <div class="map-container">
          <div class="map-item objeto">
            <img
              class="icono"
              src="../images/pick-up-byMJ/4-others/4.png"
              alt="objeto"
            />
          </div>
          <div class="map-item vacio"></div>
          <div class="map-item vida">
            <img
              class="icono"
              src="../images/pick-up-byMJ/3-powers/10.png"
              alt="corazon"
            />
          </div>
          <div class="map-item llave">
            <img class="icono" src="../images/pick-up-byMJ/4-others/6.png" />
          </div>
          <div class="map-item ataque">
            <img class="icono" src="../images/pick-up-byMJ/3-powers/3.png" />
          </div>
          <div class="map-item amenaza">
            <img class="icono" src="../images/pick-up-byMJ/3-powers/2.png" />
          </div>
          <div class="map-item base">
            <img class="icono" src="../images/pick-up-byMJ/4-others/5.png" />
          </div>
        </div>
        <div class="map-container">
          <div class="map-item vida">
            <img
              class="icono"
              src="../images/pick-up-byMJ/3-powers/10.png"
              alt="corazon"
            />
          </div>
          <div class="map-item vacio"></div>
          <div class="map-item objeto">
            <img
              class="icono"
              src="../images/pick-up-byMJ/4-others/4.png"
              alt="objeto"
            />
          </div>
          <div class="map-item llave">
            <img class="icono" src="../images/pick-up-byMJ/4-others/6.png" />
          </div>
          <div class="map-item exp">
            <img class="icono" src="../images/pick-up-byMJ/4-others/1.png" />
          </div>
          <div class="map-item vida">
            <img
              class="icono"
              src="../images/pick-up-byMJ/3-powers/10.png"
              alt="corazon"
            />
          </div>
          <div class="map-item amenaza">
            <img class="icono" src="../images/pick-up-byMJ/3-powers/2.png" />
          </div>
        </div>
        <div class="map-container">
          <div class="map-item ataque">
            <img class="icono" src="../images/pick-up-byMJ/3-powers/3.png" />
          </div>
          <div class="map-item exp">
            <img class="icono" src="../images/pick-up-byMJ/4-others/1.png" />
          </div>
          <div class="map-item llave">
            <img class="icono" src="../images/pick-up-byMJ/4-others/6.png" />
          </div>
          <div class="map-item tesoro"></div>
          <div class="map-item curacion">
            <img class="icono" src="../images/pick-up-byMJ/3-powers/4.png" />
          </div>
          <div class="map-item exp">
            <img class="icono" src="../images/pick-up-byMJ/4-others/1.png" />
          </div>
          <div class="map-item llave">
            <img class="icono" src="../images/pick-up-byMJ/4-others/6.png" />
          </div>
        </div>
        <div class="map-container">
          <div class="map-item objeto">
            <img
              class="icono"
              src="../images/pick-up-byMJ/4-others/4.png"
              alt="objeto"
            />
          </div>
          <div class="map-item defensa">
            <img class="icono" src="../images/pick-up-byMJ/3-powers/6.png" />
          </div>
          <div class="map-item curacion">
            <img class="icono" src="../images/pick-up-byMJ/3-powers/4.png" />
          </div>
          <div class="map-item vida">
            <img
              class="icono"
              src="../images/pick-up-byMJ/3-powers/10.png"
              alt="corazon"
            />
          </div>
          <div class="map-item amenaza">
            <img class="icono" src="../images/pick-up-byMJ/3-powers/2.png" />
          </div>
          <div class="map-item vacio"></div>
          <div class="map-item objeto">
            <img
              class="icono"
              src="../images/pick-up-byMJ/4-others/4.png"
              alt="objeto"
            />
          </div>
        </div>
        <div class="map-container">
          <div class="map-item amenaza">
            <img class="icono" src="../images/pick-up-byMJ/3-powers/2.png" />
          </div>
          <div class="map-item llave">
            <img class="icono" src="../images/pick-up-byMJ/4-others/6.png" />
          </div>
          <div class="map-item exp">
            <img class="icono" src="../images/pick-up-byMJ/4-others/1.png" />
          </div>
          <div class="map-item objeto">
            <img
              class="icono"
              src="../images/pick-up-byMJ/4-others/4.png"
              alt="objeto"
            />
          </div>
          <div class="map-item ataque">
            <img class="icono" src="../images/pick-up-byMJ/3-powers/3.png" />
          </div>
          <div class="map-item base">
            <img class="icono" src="../images/pick-up-byMJ/4-others/5.png" />
          </div>
          <div class="map-item defensa">
            <img class="icono" src="../images/pick-up-byMJ/3-powers/6.png" />
          </div>
        </div>
        <div class="map-container">
          <div class="map-item base">
            <img class="icono" src="../images/pick-up-byMJ/4-others/5.png" />
          </div>
          <div class="map-item vida">
            <img
              class="icono"
              src="../images/pick-up-byMJ/3-powers/10.png"
              alt="corazon"
            />
          </div>
          <div class="map-item curacion">
            <img class="icono" src="../images/pick-up-byMJ/3-powers/4.png" />
          </div>
          <div class="map-item defensa">
            <img class="icono" src="../images/pick-up-byMJ/3-powers/6.png" />
          </div>
          <div class="map-item llave">
            <img class="icono" src="../images/pick-up-byMJ/4-others/6.png" />
          </div>
          <div class="map-item vacio"></div>
          <div class="map-item llave">
            <img class="icono" src="../images/pick-up-byMJ/4-others/6.png" />
          </div>
        </div>
      </div>
    </div>


    <div class="play" id ="stats">
        <h3 class="title1">Stats</h3>
        <ul></ul>
         <input  class="button2" type="button" value="Ver Stats" onclick="Actions:ShowStats()">
      </div>

  </body>
</html>
